.places h1 {
    margin-bottom: 20px;
}

article {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .places {
        display: block;
    }

    article {
        padding: 10px;
        margin-bottom: 10px;
    }
}
