footer {
    background-color: #00FF00;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    footer {
        height: 50px;
    }
}

@media (max-width: 480px) {
    footer {
        height: 40px;
    }
}
