.places {
    margin-top: 20px;
}

.price_by_night {
    color: #ff5a5f;
    border: 4px solid #ff5a5f;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    border-radius: 4px;
    padding: 10px;
}

.information {
    height: 80px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
}
